//- layout.pug
doctype html
html
  head
    title Harry Dance Academy
    block scripts
    block style 
    
  body
    div#navbar 
        ul.center
            li #[a(href="/home") Home]
            li #[a(href="/contact") contact]
            li services 

    block content
    //- block foot
    footer#footer.center
        | section for footer 






